#
# MAGNETIC Sensor Configuration
#
config COMPASS
	bool "MAGNETIC Sensor"
	default n
	help
	  This option enables magnetic sensors

config SENSORS_AK8975
	tristate "AK8975 magnetometer support"
	default n
	depends on COMPASS
	help
	  If you say yes here you get support for Asahi Kasei's
	  magnetometer sensor AK8975C.
